<div class="container-fluid">

 <div class="search">
    <input id="search" type="text" ng-model="query" />
    <select ng-model="orderProp">
      <option value="likes">Popularity</option>
      <option value="minimum">Minimum Number of Players</option>
      <option value="maximum">Maximum Number of Players</option>
    </select>
  </div>

  <table class="table">
    <tr>
      <th>Description</th>
      <th>Example</th>
      <th>Likes</th>
      <th>Minimum</th>
      <th>Maximum</th>
    </tr>
    <tr ng-repeat="game in games | filter: query | orderBy:orderProp" data-id={{game.id}}>
      <td>
        <a href="/games/{{game.id}}">
          View Page
        </a>
      </td>
      <td>{{game.description}}</td>
      <td>{{game.example}}</td>
      <td>{{game.likes}}</td>
      <td>{{game.minimum}}</td>
      <td>{{game.maximum}}</td>
    </tr>
  </table>

</div>