<div class="jumbotron">
  <div class="container">
    <h1>This is the about page</h1>
    <h3>It is under construction</h3>
    <a class="btn btn-primary btn-lg white-font" role="button" target="_blank" href="https://github.com/kthffmn/gametime">
      View on GitHub &raquo;
    </a> 
  </div>
</div>

