<div class="center hero-unit">
  <h1>Welcome to Bentwood Chairs</h1>
  <h3>An improv game and exercise database</h3>
</div>

<a class="btn btn-large btn-primary white-font" href="/games-angular">Browse database</a>
<a class="btn btn-large btn-primary white-font" href="/games/new">Add a game/exercise</a>
<a class="btn btn-large btn-primary white-font" href="/games/<%= @rand_num %>">Random Game/Exercise</a>