<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Bentwood Chairs</h1>
    <h2>An improv game and exercise database</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
       <h2>Browse Databse</h2>
      <p>
        <a class="btn btn-large btn-primary white-font" href="/games-angular">
          Browse
        </a>
      </p>
    </div>
    <div class="col-md-4">
       <h2>Add to the Database</h2>
      <p>
        <a class="btn btn-large btn-primary white-font" href="/games/new">
          Add
        </a>
      </p>
    </div>
    <div class="col-md-4">
       <h2>Random Game/Exercise</h2>
      <p>
        <a class="btn btn-large btn-primary white-font" href="/games/<%= @rand_num %>">
          Random
        </a>
      </p>
    </div>
  </div>
</div>
